:root {
    --just-black:       #000000;
    --almost-black:     #161a1d;  
    --stormy-clouds:    #212529;
    --daker-gray:       #343a40;  
    --gray:             #495057; 
    --steel-gray:       #6c757d;  
    --aluminium:        #adb2bd;  
    --not-named-3:      #ced4da; 
    --not-quite-white:  #f8f9fa;
    --pure-white:       #ffffff;

    --default-blue:     #1a237e;
    --shallow-sea-blue: #004780;
    --soft-red:         #ff3333;
    --sharp-blue:       #2255ff;
    /*--*/
    --c01:  var(--just-black);
    --c02:  var(--almost-black);
    --c03:  var(--stormy-clouds);
    --c04:  var(--daker-gray);
    --c05:  var(--gray);
    --c06:  var(--steel-gray);
    --c07:  var(--aluminium);
    --c08:  var(--not-named-3);
    --c09:  var(--not-quite-white);
    --c10:  var(--pure-white);

    --a0:   var(--default-blue);
    --a1:   var(--shallow-sea-blue);
    --a2:   var(--sharp-blue);
    --a3:   var(--soft-red);
}