:root {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    width: 100vw;
    height: 100vh;
    background: red;
    position: 0;
    animation: rainbow 5s infinite;
  }
  
  @keyframes rainbow {
    0%          {background: #ff0000}
    /*0%          {background: #ff1100}*/
    /*0%          {background: {ff2200}*/
    3.125%      {background: #ff3300}
     /*0%          {background: {ff4400}*/   
    /*0%          {background: #ff5500}*/
    6.25%       {background: #ff6600}
    /*0%          {background: #ff6600}*/
    /*0%          {background: #ff7700}*/
    9.375%      {background: #ff8800}
    /*0%          {background: #ff9900}*/
    /*0%          {background: #ffaa00}*/
    12.5%       {background: #ffbb00}
    /*0%          {background: {ffcc00}*/
    /*0%          {background: #ffdd00}*/
    15.625%     {background: #ffee00}
    /*0%          {background: {ffff00}*/
    /*0%          {background: {eeff00}*/
    18.75%      {background: #ddff00}
    /*0%          {background: {ccff00}*/
    /*0%          {background: {bbff00}*/
    21.875%     {background: #aaff00}
    /*0%          {background: {99ff00}*/
    /*0%          {background: {88ff00}*/
    25%         {background: #77ff00}
    /*0%          {background: {66ff00}*/
    /*0%          {background: {55ff00}*/
    28.125%     {background: #44ff00}
    /*0%          {background: {33ff00}*/
    /*0%          {background: {22ff00}*/
    31.25%      {background: #11ff00}
    /*0%          {background: {00ff00}*/
    /*0%          {background: {00ff11}*/
    34.375%     {background: #00ff22}
    /*0%          {background: {00ff33}*/
    /*0%          {background: {00ff44}*/
    37.5%       {background: #00ff55}
    /*0%          {background: {00ff66}*/
    /*0%          {background: {00ff77}*/
    40.625%     {background: #00ff88}
    /*0%          {background: {00ff99}*/
    /*0%          {background: {00ffaa}*/
    43.75%      {background: #00ffbb}
    /*0%          {background: {00ffcc}*/
    /*0%          {background: {00ffdd}*/
    46.875%     {background: #00ffee}
    /*0%          {background: {00ffff}*/
    /*0%          {background: {00eeff}*/
    50%         {background: #00ddff}
    /*0%          {background: {00ccff}*/
    53.125%     {background: #00bbff}
    /*0%          {background: {00aaff}*/
    /*0%          {background: {0099ff}*/
    56.25%      {background: #0088ff}
    /*0%          {background: {0077ff}*/
    /*0%          {background: {0066ff}*/
    59.375%     {background: #0055ff}
    /*0%          {background: {0044ff}*/
    /*0%          {background: {0033ff}*/
    62.5%       {background: #0022ff}
    /*0%          {background: {0033ff}*/
    /*0%          {background: {0022ff}*/
    65.625%     {background: #0011ff}
    /*0%          {background: {0000ff}*/
    68.75%      {background: #1100ff}
    /*0%          {background: {2200ff}*/
    /*0%          {background: {3300ff}*/
    71.875%     {background: #4400ff}
    /*0%          {background: {5500ff}*/
    /*0%          {background: {6600ff}*/
    75%         {background: #7700ff}
    /*0%          {background: {8800ff}*/
    /*0%          {background: {9900ff}*/
    78.125%     {background: #aa00ff}
    /*0%          {background: {bb00ff}*/
    /*0%          {background: {cc00ff}*/
    81.25%      {background: #dd00ff}
    /*0%          {background: {ee00ff}*/
    /*0%          {background: {ff00ff}*/
    84.375%     {background: #ff00ee}
    /*0%          {background: {ff00dd}*/
    /*0%          {background: {ff00cc}*/
    87.5%       {background: #ff00bb}
    /*0%          {background: {ff00aa}*/
    /*0%          {background: {ff0099}*/
    90.625%     {background: #ff0088}
    /*0%          {background: {ff0077}*/
    /*0%          {background: {ff0066}*/
    93.75%      {background: #ff0055}
    /*0%          {background: {ff0044}*/
    /*0%          {background: {ff0033}*/
    96.875%     {background: #ff0022}
    /*0%          {background: {ff0011}*/
    100%        {background: #ff0000}



    /*0%   {background: red;}
    25%  {background: blue;}
    50%  {background: yellow;}
    75%  {background: green;}
    100% {background: red;}*/
  }